header{
    background-color: rgb(128, 173, 240);
}
div{
    padding-left: 50px;
    display: inline;
}
#titulo{
    color:blue;
    font-size: 30px;
    text-align: center;
}
.provincia{
    color:white;
    font-size: 30px;
    cursor: pointer;   
}
table{
    border-collapse: collapse;
    margin:0 auto;
}
th, td{
    border:solid 2px black;
    padding: 10px;
    text-align: center;
}
iframe{
    display: none;
}
	
tr:nth-child(odd) {
    background-color:#e66363;
}
tr:nth-child(even) {
    background-color:#d4d2b5;
}

tr:first-child{
    background-color: yellowgreen;
}

#mapid { 
    height: 500px; 
    position: absolute;
    width: 80%;
    margin-left: 4vw;
    z-index: 1;
    margin-bottom: 50px;
}

#puestosTotales{
    margin:0 auto;
    text-align: center;
    font-size: 20px;
}

#mensaje{
    text-align: center;
    font-size: 40px;
}


footer p{
    text-align: center;
}